<div class="col-lg-4 mt-5 d-flex justify-content-center">
    <div class="card align-items-center p-2" style="width: 18rem;">
        <img [src]="contact.photo"
            alt="No Image" height="150px" width="150px"
            style="object-fit: cover; border-radius: 5px;" class="mt-3">
        <div class="card-body">Name : {{contact.name}}
            <h5 class="card-title"></h5>
            <p>Id : {{contact.id}}</p>
            <p>Mobile : {{contact.mobile}}</p>
            <p>Email : {{contact.email}}</p>
            <p>Company : {{contact.company}}</p>
            <p>Group : {{group}}</p>
            <p>Title : {{contact.title}}</p>
        </div>
    </div>
</div>